@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
  background: url("../images/bg.png") fixed center center;
  background-size: cover;
  color: white;
}
html, body {
  overflow-x: hidden;
}
.hr {
  border-bottom: 1px solid white;
  opacity: 0.25;
  margin: 5% auto 5% auto;
}

.spoCont {
    background: rgba(0, 0, 0, .7);
    margin-top: 1.5%;
    padding: 1%;
}

.spoField {

}

h3 {
    /* color: black; */
    font-family: Verdana, Geneva, sans-serif;
}
h3.header {
}
